<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,73}</string>
                <key>spriteSourceSize</key>
                <string>{106,73}</string>
                <key>textureRect</key>
                <string>{{1445,637},{106,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_back_dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1521,1861},{79,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_backall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1521,1942},{79,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_bigwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,192}</string>
                <key>spriteSourceSize</key>
                <string>{416,192}</string>
                <key>textureRect</key>
                <string>{{1,1434},{416,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_btn_choi_that.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,208}</string>
                <key>textureRect</key>
                <string>{{265,1869},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_btn_choi_thu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,208}</string>
                <key>textureRect</key>
                <string>{{475,1869},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_btn_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,86}</string>
                <key>spriteSourceSize</key>
                <string>{159,86}</string>
                <key>textureRect</key>
                <string>{{249,1748},{159,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_btn_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,86}</string>
                <key>spriteSourceSize</key>
                <string>{159,86}</string>
                <key>textureRect</key>
                <string>{{685,1869},{159,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_btn_quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,142}</string>
                <key>spriteSourceSize</key>
                <string>{262,142}</string>
                <key>textureRect</key>
                <string>{{1,1875},{262,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,79}</string>
                <key>spriteSourceSize</key>
                <string>{194,79}</string>
                <key>textureRect</key>
                <string>{{1098,988},{194,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_btn_tuquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,79}</string>
                <key>spriteSourceSize</key>
                <string>{194,79}</string>
                <key>textureRect</key>
                <string>{{685,1957},{194,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1150,643}</string>
                <key>spriteSourceSize</key>
                <string>{1150,643}</string>
                <key>textureRect</key>
                <string>{{1,1},{1150,643}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_dialog_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{106,114}</string>
                <key>textureRect</key>
                <string>{{837,1434},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_dialog_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,118}</string>
                <key>spriteSourceSize</key>
                <string>{551,118}</string>
                <key>textureRect</key>
                <string>{{978,646},{551,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{1533,438},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_item0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{978,1419},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,218}</string>
                <key>spriteSourceSize</key>
                <string>{217,218}</string>
                <key>textureRect</key>
                <string>{{978,1199},{217,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1069,1638},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{218,218}</string>
                <key>textureRect</key>
                <string>{{410,1649},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,218}</string>
                <key>spriteSourceSize</key>
                <string>{217,218}</string>
                <key>textureRect</key>
                <string>{{630,1649},{217,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,217}</string>
                <key>spriteSourceSize</key>
                <string>{218,217}</string>
                <key>textureRect</key>
                <string>{{849,1638},{218,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,245}</string>
                <key>spriteSourceSize</key>
                <string>{246,245}</string>
                <key>textureRect</key>
                <string>{{1,1628},{246,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,378}</string>
                <key>spriteSourceSize</key>
                <string>{558,378}</string>
                <key>textureRect</key>
                <string>{{1153,1},{558,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_lschoi_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{975,392}</string>
                <key>spriteSourceSize</key>
                <string>{975,392}</string>
                <key>textureRect</key>
                <string>{{1,646},{975,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_lsgd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{1533,509},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_name_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{159,118}</string>
                <key>spriteSourceSize</key>
                <string>{161,120}</string>
                <key>textureRect</key>
                <string>{{249,1628},{159,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1520,580},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_next_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1520,660},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_number_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1465,1948},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_page_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,86}</string>
                <key>spriteSourceSize</key>
                <string>{159,86}</string>
                <key>textureRect</key>
                <string>{{764,1542},{159,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{1530,740},{66,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{1530,808},{66,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_title_bthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,65}</string>
                <key>spriteSourceSize</key>
                <string>{435,65}</string>
                <key>textureRect</key>
                <string>{{1533,1},{435,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_title_chondong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,74}</string>
                <key>spriteSourceSize</key>
                <string>{357,74}</string>
                <key>textureRect</key>
                <string>{{1153,561},{357,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_title_lschoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,74}</string>
                <key>spriteSourceSize</key>
                <string>{416,74}</string>
                <key>textureRect</key>
                <string>{{419,1434},{416,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_title_vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,51}</string>
                <key>spriteSourceSize</key>
                <string>{340,51}</string>
                <key>textureRect</key>
                <string>{{1098,646},{340,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit_vinh_danh_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{975,392}</string>
                <key>spriteSourceSize</key>
                <string>{975,392}</string>
                <key>textureRect</key>
                <string>{{1,1040},{975,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{1499,978},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_win_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,137}</string>
                <key>spriteSourceSize</key>
                <string>{343,137}</string>
                <key>textureRect</key>
                <string>{{419,1510},{343,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{849,1857},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line0_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{995,1857},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1141,1857},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{881,1944},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line10_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1027,1944},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1173,1944},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line11_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1153,637},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1299,637},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line12_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1151,724},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1151,811},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line13_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1297,724},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1151,898},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line14_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1297,811},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1297,898},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line15_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1179,985},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1179,1072},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line16_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1325,985},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1197,1159},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line17_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1197,1305},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1197,1451},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line18_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1284,1159},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1284,1305},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line19_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1284,1451},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line1_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1288,1597},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1288,1743},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line2_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1412,985},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1371,1131},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line3_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1371,1277},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1371,1423},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line4_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1375,1569},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1375,1715},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line5_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1458,1131},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1458,1277},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line6_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1458,1423},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1462,1569},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line7_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1462,1715},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1375,1861},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line8_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1319,1948},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines/fruit_line9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1443,745},{144,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines/fruit_line9_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,85}</string>
                <key>spriteSourceSize</key>
                <string>{144,85}</string>
                <key>textureRect</key>
                <string>{{1443,891},{144,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zoo_fruit.png</string>
            <key>size</key>
            <string>{1600,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fa3b749dfec522f83e24ca63c746fd:aff88a185967415aa032f674f4b16a10:897ade2b43bede2f8ccc9c421b69a230$</string>
            <key>textureFileName</key>
            <string>zoo_fruit.png</string>
        </dict>
    </dict>
</plist>
